/011225/CalcClient/nbproject/private/
/011225/CalcServer/nbproject/private/
/011225/CalcServer/build/
/011225/CalcClient/dist/
/011225/CalcClient/build/
/Esercitazioni/Persistence Excersise/BookstoreAnt/nbproject/private/
/Esercitazioni/Persistence Excersise/BookstoreAnt/build/
/Esercitazioni/Persistence Excersise/BookstoreAnt/dist/
/Esercitazioni/Persistence Excersise/ExamClient/nbproject/private/
/Esercitazioni/EJB With Persistence Excersise/ExamClient/nbproject/private/
/Esercitazioni/EJB With Persistence Excersise/ExamEJB/nbproject/private/
/Esercitazioni/EJB With Persistence Excersise/ExamClient/build/
/Esercitazioni/EJB With Persistence Excersise/ExamEJB/build/
/Esercitazioni/EJB With Persistence Excersise/ExamClient/dist/
/Esercitazioni/EJB With Persistence Excersise/ExamEJB/dist/
/Esercitazioni/Messaging/JMSMotoClient/nbproject/private/
/Esercitazioni/Messaging/JMSMotoServer/nbproject/private/
/Esercitazioni/Messaging/JMSMotoServer/build/
/Esercitazioni/Messaging/JMSMotoClient/build/
/Esercitazioni/Web_Service/WeatherWS/nbproject/private/
/Esercitazioni/Web_Service/WeatherClient/nbproject/private/
/Esercitazioni/Web_Service/WeatherWS/build/
/Esercitazioni/Web_Service/WeatherClient/build/
/Prove D'Esame/Sanremo/SanremoEJB/nbproject/private/
/Prove D'Esame/Sanremo/SanremoClient/nbproject/private/
/Prove D'Esame/Sanremo/SanremoClient/dist/
/Prove D'Esame/Sanremo/SanremoEJB/build/
/Prove D'Esame/Sanremo/SanremoClient/build/
/Prove D'Esame/Sanremo/SanremoEJB/dist/
/Prove_Esame/Sanremo/SanremoJMSClient/nbproject/private/
/Prove_Esame/Sanremo/SanremoJMSClient/build/
/Prove_Esame/Sanremo/SanremoWeatherClient/nbproject/private/
/Prove_Esame/Sanremo/SanremoWeatherClient/build/
/Prove_Esame/Sanremo/SanremoWebClient/nbproject/private/
/Prove_Esame/Sanremo/SanremoWebClient/build/
/Prove_Esame/Enoteca/EnotecaEJB/nbproject/private/
/Prove_Esame/Enoteca/SanremoClient/nbproject/private/
/Prove_Esame/Enoteca/EnotecaClient/nbproject/private/
/Prove_Esame/Enoteca/EnotecaEJB/dist/
/Prove_Esame/Enoteca/EnotecaClient/build/
/Prove_Esame/Enoteca/EnotecaClient/dist/
/Prove_Esame/Enoteca/EnotecaJMSClient/nbproject/private/
/Prove_Esame/Enoteca/EnotecaJMSClient/build/
/Prove_Esame/Enoteca/EnotecaWebClient/nbproject/private/
/Prove_Esame/Enoteca/EnotecaWebClient/build/
/Prove_Esame/Esame/EsameEJB/nbproject/private/
/Prove_Esame/Esame/EsameClient/nbproject/private/
/Prove_Esame/Esame/EsameClient/build/
/Prove_Esame/Esame/EsameClient/dist/
/Prove_Esame/Esame/EsameEJB/dist/
/Prove_Esame/Esame/EsameEJB/build/
/Prove_Esame/Esame/EsameJMSClient/nbproject/private/
/Prove_Esame/Esame/EsameJMSClient/build/
/Prove_Esame/Esame/EsameWebClient/nbproject/private/
/Prove_Esame/Esame/EsameWebClient/build/
/Prove_Esame/Esame/EsameWebClient/dist/
/Prove_Esame/Calcio/CalcioClient/nbproject/private/
/Prove_Esame/Calcio/CalcioEJB/nbproject/private/
/Prove_Esame/Calcio/CalcioClient/build/
/Prove_Esame/Calcio/CalcioEJB/build/
/Prove_Esame/Calcio/CalcioClient/dist/
/Prove_Esame/Calcio/CalcioEJB/dist/
/Prove_Esame/Calcio/CalcioJMSClient/nbproject/private/
/Prove_Esame/Calcio/CalcioJMSClient/build/
/Prove_Esame/Calcio/CalcioWebClient/nbproject/private/
/Prove_Esame/Calcio/CalcioWebClient/build/
