/011225/CalcClient/nbproject/private/
/011225/CalcServer/nbproject/private/
/011225/CalcServer/build/
/011225/CalcClient/dist/
/011225/CalcClient/build/
/Esercitazioni/Persistence Excersise/BookstoreAnt/nbproject/private/
/Esercitazioni/Persistence Excersise/BookstoreAnt/build/
/Esercitazioni/Persistence Excersise/BookstoreAnt/dist/
